@{
  ViewBag.Title = "Index";
}

<h2>Javascript validator</h2>

<fieldset>
  <legend>Javascript validator</legend>

  <p>These validators are created manually in javascript</p>
  <form id="validateMe">
    <div class="form-item">
      <div class="editor-label">
        <label for="RequireNumbers">Require Numbers</label>
      </div>
      <div class="editor-field">
        <input type="text" id="RequireNumbers" name="RequireNumbers" required xanderNeedsNumber="true" class="xanderPasswordValidator" />
      </div>
    </div>
    <div class="form-item">
      <div class="editor-label">
        <label for="RequireLetters">Require Letters</label>
      </div>
      <div class="editor-field">
        <input type="text" id="RequireLetters" name="RequireLetters" required xanderNeedsLetter="true" class="xanderPasswordValidator" />
      </div>
    </div>


    <div class="form-item">
      <input type="submit" value="Submit" />
    </div>
  </form>
</fieldset>
@section ScriptFooter
{
  <script>
    $(function () {
      $("#validateMe").validate({ debug: true });
    });
  </script>
}
