@{
    ViewBag.Title = "Password Validator MVC 3 Demo";
}

<h2>Password Validator MVC 3 Demo</h2>

<p>List of demos</p>

<ul>
  <li><a href="/SettingsFromConfig">Settings from configuration file</a></li>
</ul>