<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="passwordValidation">
      <section name="rules" type="Xander.PasswordValidator.Config.PasswordValidationSection, Xander.PasswordValidator" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <passwordValidation>
    <rules minimumPasswordLength="13" needsNumber="true" needsLetter="true" needsSymbol="true">
      <wordListProcessOptions checkForNumberSuffix="true" checkForDoubledUpWord="true" checkForReversedWord="true" />
      <standardWordLists>
        <add value="FemaleNames"/>
        <add value="MaleNames"/>
        <add value="MostCommon500Passwords"/>
        <add value="Surnames"/>
      </standardWordLists>
      <customWordLists>
        <add file="TestHelpers/Files/MyCustomWordList.txt" />
        <add file="TestHelpers/Files/MyOtherCustomWordList.txt" />
      </customWordLists>
    </rules>
  </passwordValidation>
</configuration>