<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Effectively an empty configuration file in case any of the configuration
       files that get copied during tests get left behind by a failing test
       and there is an error in that configuration file. 
       
       The existance of this file will ensure that cleaning the solution will
       remove the offending configuration file from the bin directory. -->
</configuration>