<?xml version="1.0"?>
<configuration>
    <configSections>
    <sectionGroup name="passwordValidation">
      <section name="rules" type="Xander.PasswordValidator.Config.PasswordValidationSection, Xander.PasswordValidator, Version=0.3.3.0, Culture=neutral, PublicKeyToken=fe72000dffcf195f" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <!-- The configuration section that describes the configuration for the password validation -->
  <passwordValidation>
    <rules minimumPasswordLength="6" needsNumber="false" needsLetter="false" needsSymbol="false">
      <wordListProcessOptions checkForNumberSuffix="true" checkForDoubledUpWord="true" checkForReversedWord="true" />
      <standardWordLists>
        <add value="FemaleNames"/>
        <add value="MaleNames"/>
        <add value="MostCommon500Passwords"/>
        <add value="Surnames"/>
      </standardWordLists>
      <customWordLists>
        <add file="WordLists/MyCustomWordList.txt" />
        <add file="WordLists/MyOtherCustomWordList.txt" />
      </customWordLists>
    </rules>
  </passwordValidation>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
</configuration>
